<div class="scrollable" ng-controller="CalController">
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>My FabDiet
        </h1>
      </div>
      <div class="list-group-item list-group-item-home">
        <form class="navbar-form navbar-left" role="search" action="javascript:void(0);">
          <div class="form-group has-success has-feedback">
            <label for="calories"> Daily Calories:</label>
            <input name="caloriesss" id="calories" type="number" class="form-control" ng-model="calories" placeholder="Enter Calories">
          </div>
          <button class="btn btn-primary" id="calculateBtn">Calculate</button>
          <a href="" ui-turn-on="modal1" class="btn btn-success">
            <strong>Help Me Find My Daily Calories Needs</strong>
          </a>
        </form>
      </div>
      <div class="list-group-item list-group-item-home">
        <label>Presets (Carb/Protein/Fat):  </label>
        <div class="col-md-12 text text-small" id="presets">
          <button class="btn btn-default" type="button" ng-click =zone(1) onclick="moveSliders(60,25,15);">60/25/15<br>(High Carb)</button>
          <button class="btn btn-default active" type="button" ng-click =zone(2) onclick="moveSliders(50,30,20);">50/30/20<br>(Moderate)</button>
          <button class="btn btn-default" type="button" ng-click =zone(3) onclick="moveSliders(40,30,30);">40/30/30<br>(Zone Diet)</button>
          <button class="btn btn-default" type="button" ng-click =zone(4) onclick="moveSliders(25,45,30);">25/45/30<br>(Low Carb)</button>
          <button class="btn btn-default" type="button" ng-click =zone(5) onclick="moveSliders(10,15,75);">10/15/75<br>(Keto)</button>
          </div>
          <br>
      </div>
      <div class="list-group-item list-group-item-home">
        <table class="table" id="macro_table">
          <tr>
              <th style="width: 60%;" colspan="2">
                <div class="alert alert-warning" id="displayCalsAmount" style="display: none; margin-bottom: 0; padding: 5px;">Currently displaying values for a <span></span> calories per day diet.
                </div>
              </th>
              <th style="text-align: center; width: 20%;"><u>Grams per Day</u></th><th style="text-align: center; width: 20%; display: none; font-we;"><u>Grams per Meal</u></th>
          </tr>
              <tr>
                <th style="width: 20%;">Carbohydrate:</th>
              <th style="width: 40%;">Percentage: <span class="label label-primary" id="carb_percent"></span>
              <div id="carb_slider">
                
              </div>
              </th>
              <td class="gram-value" id="carb_cals">-</td>
              <td class="gram-value" id="carb_cals_per_meal" style="display: none;">-</td>
          </tr>
          <tr>
              <th>Protein:</th>
              <th>Percentage: <span class="label label-primary" id="protein_percent"></span>
                <div id="protein_slider">
                  
                </div>
              </th>
              <td class="gram-value" id="protein_cals">-</td>
              <td class="gram-value" id="protein_cals_per_meal" style="display: none;">-</td>
          </tr>
          <tr>
              <th>Fat:</th>
              <th>Percentage: <span class="label label-primary" id="fat_percent"></span>
                <div id="fat_slider"></div>
              </th>
              <td class="gram-value" id="fat_cals">-</td><td class="gram-value" id="fat_cals_per_meal" style="display: none;">-</td>
          </tr>
          <tr>
            <th colspan="4">Total Percentage: 
              <span class="label label-success" id="total_percent">100%</span>
            </th>
          </tr>
        </table>
      </div>
      <div class="list-group-item list-group-item-home">
        <form name="myForm">
          <label>Veggies:
            <input type="checkbox" ng-model="checkboxModel.value1" ng-true-value="'1100'" ng-false-value="'null'">
          </label><br/>
          <label>Baked-Products:
            <input type="checkbox" ng-model="checkboxModel.value2"
                   ng-true-value="'1800'" ng-false-value="'null'">
           </label><br/>
           <label>Dairy-eggs:
            <input type="checkbox" ng-model="checkboxModel.value3"
                   ng-true-value="'0100'" ng-false-value="'null'">
           </label><br/>
           <label>Breakfast-cereals:
            <input type="checkbox" ng-model="checkboxModel.value4"
                   ng-true-value="'0800'" ng-false-value="'null'">
           </label><br/>
           <label>Fruits-juice:
            <input type="checkbox" ng-model="checkboxModel.value5"
                   ng-true-value="'0900'" ng-false-value="'null'">
           </label><br/>
          <!-- <tt>value1 = {{checkboxModel.value1}}</tt><br/>
          <tt>value2 = {{checkboxModel.value2}}</tt><br/>
          <tt>value1 = {{checkboxModel.value1}}</tt><br/>
          <tt>value2 = {{checkboxModel.value2}}</tt><br/>
          <tt>value1 = {{checkboxModel.value1}}</tt><br/> -->
         </form>
         <strong class="label label-danger">{{message}}</strong><br/>
            <button class="btn btn-primary" ng-click="myFunc()">Generate Meal Plan</button>
      </div>
      <div class="list-group-item list-group-item-home">
        <div ui-content-for="modals">
          <div ng-include="'modal1.html'"></div>
        </div>
      </div>
    </div>
    </div>


  </div>
</div>
